
.tabs {
    display: flex;
}

.tab-btn {
    border: none;
    background-color: transparent;
    font-size: 17px;
    font-weight: 600;
    color: gray;
    padding: 20px 5px;
    cursor: pointer;
    transition: .2s ease-in-out;
    position: relative;
}

.tab-btn::after {
    content: "";
    background: var(--accent-purple);
    height: 3px;
    position: absolute;
    bottom: 0;
    transition: .16s all;
    left: 100%;
    right: 0;
}

.tab-btn:hover ~ .tab-btn::after {
    left: 0;
    right: 100%;
}

.tab-btn:hover::after {
    left: 0;
    right: 0;
}

.tab-btn.active::after{
    left: 0;
}

.underline {
    background: var(--accent-purple);
    height: 3px;
    width: 33%;
}



.panel-top {
    flex: 1;
}

.panel-bottom {
    flex: 1;
}