
.tabs {
    display: flex;
    gap: 5px;
}


.tab-btn {
    border: none;
    background-color: transparent;
    font-size: 17px;
    font-weight: 600;
    color: gray;
    padding: 20px 5px;
    cursor: pointer;
    background-image: linear-gradient(rgb(229, 229, 229, 0.8),rgb(229, 229, 229, 0.8));
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: .2s;
    border-bottom: 3px solid transparent;
}

.tab-btn:first-child {
    border-bottom: 3px solid var(--accent-purple);
    color: black;
}

.tab-btn:hover {
    background-size: 100% 100%;
}
.panel-top {
    flex: 1;
}

.panel-bottom {
    flex: 1;
}