.sideBar {
    background-color: var(--white);
    height: 100vh;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 25px;
    padding: 40px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}