.homeContainer {
    display: flex;
    background-color: var(--light-lavendar);
}

.sideBar {
    flex: 1;
    filter: drop-shadow(4px 10px 4px #f3ecf4);
}

.dashBoard {
    flex: 4;
    height: 100vh;
    padding: 40px 60px;
    box-sizing: border-box;
    display: flex;
}

.dashBoard>h1 {
    font-size: 30px;
}

.dashBoard>h2 {
    font-size: 25px;
    margin-top: 10px;
}

.dashboard-left {
    margin-top: 10px;
    flex: 4;
    display: flex;
    flex-direction: column;
}

.panels {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
}

.panel-top {
    flex: 1;
}

.panel-bottom {
    flex: 1;
}

.dashboard-right {
    flex: 1;
    padding: 20px 0px 20px 20px;
}

.activity {
    background-color: white;
    border-radius: 20px;
    margin-top: 40px;
    padding: 40px 40px;
    filter: drop-shadow(6px 10px 20px #e1d8f1);
}

.todo-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

