.homeContainer {
    display: flex;
    flex-direction: column;
}

.homeWrapper {
    display: flex;
    background-color: var(--light-lavendar);
    overflow: auto;
}

.sideBar {
    flex: 1;
    filter: drop-shadow(4px 10px 4px #f3ecf4);
}

.sideMenu {
    display: none;
}

.dashBoard {
    flex: 4;
    height: 100vh;
    padding: 40px 60px;
    box-sizing: border-box;
    display: flex;
}

.dashBoard>h1 {
    font-size: 30px;
}

.dashBoard>h2 {
    font-size: 25px;
    margin-top: 10px;
}

.dashboard-left {
    margin-top: 10px;
    flex: 4;
    display: flex;
    flex-direction: column;
}

.panels {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
}

.panel-top {
    flex: 1;
}

.panel-bottom {
    flex: 1;
}

.dashboard-right {
    flex: 1;
    padding: 20px 0px 20px 20px;
}

.activity {
    background-color: white;
    border-radius: 20px;
    margin-top: 40px;
    padding: 40px 40px;
    filter: drop-shadow(6px 10px 20px #e1d8f1);
}

.todo-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media only screen and (max-width: 1024px) {
    .dashBoard {
        flex-direction: column;
    }

    .sideMenu {
        display: block;
        position: fixed;
        top: 20px;
        left:50%;
        right: 50%;
        font-size: 20px;
        color: black;
        cursor: pointer;
        z-index: 999;
    }

    .sideMenu:hover {
        color: gray;
    }

    .dashboard-right {
        padding: 20px 0px;
    }

}

